/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* removed default margin and paddings */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* dont need underline below the links */
a {
  text-decoration: none;
}

ul,
nav {
  list-style: none;
}

body {
  /* imported the google fonts */
  font-family: "Source Sans Pro", sans-serif;
}

/* show burger icon on mobile */
.burger-icon {
  display: block;
}
.burger-icon svg {
  width: 30px;
  color: #fff;
}

/* this is the common width we want in some common elements */
.common-width {
  width: 90%;
  margin: 0rem auto;
}

/* main styling   */
main {
  height: 700px;
  /* dont need image to go outside while animating */
  overflow: hidden;
  position: relative;
}

/* image setting  */
/* object fit cover to crop image */
main img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  filter: brightness(50%);

  /* animation added */
  animation: zooming 10s alternate infinite;
  /* position added */
  position: absolute;
  left: 0px;
  top: 0px;
}

/* header style like display flex to make the display side by side */

header {
  top: 0px;
  width: 100% !important;
  padding-top: 20px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  z-index: 999;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
}

/* need to give some fontsize in header logo */
header .logo {
  font-size: 25px;
  color: #fff;
  font-weight: 800;
}

/* need list like a sidebar in mobile approah so that we used fixed */
header ul {
  position: fixed;
  left: 0%;
  z-index: 9;
  padding-top: 2rem;
  top: -300px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  background-color: #fff;
  transition: 0.5s ease all;
}

/* if active class inside ul then show sidebar */
header ul.active {
  top: 70px;
}
header ul > * + * {
  margin-left: 0px;
  margin-top: 2rem;
}
header ul li:last-child a {
  display: block;
}
header ul a {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

/* added the postion absolute in content area because we want our content on the image */

main .content-area {
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  color: #fff;
}
main .content-area h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
  width: 100%;
  text-align: center;
}

main .content-area p {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #fff;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

/* gave display flex to wrapper div of button to adjust the position */
main .content-area .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
main .content-area .button-wrapper > * + * {
  margin-left: 1rem;
}

/* added padding and background colors */
main .content-area .button-wrapper a {
  padding: 12px 25px;
  border-radius: 0;
  font-weight: 500;
  background-color: #f05d22;
  border: 1px solid #f05d22;
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease all;
}

main .content-area .button-wrapper a:first-child:hover {
  background-color: #c4420e;
  border-color: #c4420e;
}

/* about us section  */

.about-us {
  background-color: #fff;
  padding: 5rem 0rem;
}
/* added grid the div of about ussection so that each row only one component */
.about-us > div {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 3rem;
}

/* settings the order of both elements */

.about-us > div .left-side {
  order: 2;
}
.about-us > div .right-side {
  order: 1;
}

.about-us .right-side img {
  width: 100%;
  border-radius: 20px;
}
.about-us .left-side h2,
.upcoming-events > h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.about-us .left-side > h2 {
  margin-bottom: 2rem;
}
.about-us .left-side p {
  margin-top: 1rem;
  line-height: 30px;
  font-size: 20px;
}
.about-us .left-side .buttons-wrapper {
  display: flex;
  align-items: center;
}
.about-us .left-side .buttons-wrapper a {
  padding: 12px 25px;
  border-radius: 0;
  font-weight: 500;
  background-color: #f05d22;
  border: 1px solid #f05d22;
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease all;
  margin-top: 3rem;
}
.about-us .left-side .buttons-wrapper a:hover,
.event > a:hover {
  background-color: #c4420e;
  border-color: #c4420e;
}
.about-us .left-side p {
  font-size: 16px;
  line-height: 27px;
}

/* upcoming-events */
.upcoming-events,
.tours-section {
  padding: 5rem 0rem;
  background-color: #f8fafd;
}
.upcoming-events .grid-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

/* added box shadow and background white on event card */
.event {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  border-radius: 10px;
}

/* event firstchild means first p inside event class */
.event > p:first-child {
  font-size: 18px;
  color: #f05d22;
}
.event > h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.event > p:nth-child(4) {
  color: #939393;
  min-height: unset;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

.event > h1 {
  font-size: 22px;
}

/* added the button */

.event > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 10px 0px;
  border-radius: 0;
  font-weight: 500;
  background-color: #f05d22;
  border: 1px solid #f05d22;
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease all;
}
.upcoming-events > h2,
.tours-section > h2 {
  text-align: center;
  margin-bottom: 4rem;
}

/* tours-section */
.tours-section {
  background-color: #fff;
}
.tours-section > h2 {
  color: #000;
  font-size: 30px;
}
/* added the display grid to make the content one on each row */
.tours-section .grid-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

/* style the card by giving some height */
.tours-section .grid-area .card {
  position: relative;
  height: 450px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

/* transition when we hover on the card */
.tours-section .grid-area .card:hover img {
  transform: scale(1.1);
}

/* adding ::after so the the tour card should look black from bottom and white from the top */
.tours-section .grid-area .card::after {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent, transparent);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  content: "";
  border-radius: 10px;
}
/* image setting of tour card */
.tours-section .grid-area .card img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease all;
  border-radius: 10px;
}

/* added the display flex with flex direction column so the content should be on the last of the card */
.tours-section .grid-area .card .presentation {
  position: relative;
  height: 100%;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
  padding-bottom: 2rem;
}
.tours-section .grid-area .card .presentation p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
}

/* display flex so that i can give some height and width */
.tours-section .grid-area .card .presentation a {
  color: #fff;
  font-weight: 800;
  display: flex;
  align-items: center;
}

/* added the i margin */
.tours-section .grid-area .card .presentation a i {
  margin-left: 10px;
}

/* font size on three sections heading 2 */
.about-us .left-side h2,
.upcoming-events > h2,
.tours-section > h2 {
  font-size: 30px;
}

/* buttons styling */
.about-us .left-side .buttons-wrapper a,
main .content-area .button-wrapper a,
.event > a {
  padding: 10px 15px;
  font-size: 16px;
}

/* footer styling added */
footer {
  background-color: #000000;
  padding: 2rem 0rem;
}
footer > div {
  color: #fff;
  text-align: center;
}
footer p {
  font-size: 14px;
}

/* animation zooming for image main section */

@keyframes zooming {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 800px) {
  header ul a:hover {
    color: #f05d22;
  }
  main .content-area h1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
  }
  main .content-area p {
    width: 100%;
    text-align: center;
  }

  .about-us .left-side .buttons-wrapper a,
  main .content-area .button-wrapper a,
  .event > a {
    padding: 12px 25px;
    font-size: 20px;
  }

  /* font size on three sections heading 2 */
  .about-us .left-side h2,
  .upcoming-events > h2,
  .tours-section > h2 {
    font-size: 40px;
  }

  .event > p:nth-child(4) {
    min-height: 70px;
  }

  .tours-section .grid-area {
    grid-template-columns: 1fr;
  }

  footer p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  header {
    width: 90% !important;
  }
  header .burger-icon {
    display: none;
  }

  header {
    position: absolute;
    top: 40px;
    padding: 0px;
  }

  header ul {
    position: static;
    padding-top: 0rem;
    width: unset;
    flex-direction: row;
    padding-bottom: 0rem;
    background-color: transparent;
  }
  header ul a {
    color: #fff;
  }

  header ul > * + * {
    margin-left: 3rem;
    margin-top: 0px;
  }
  header .logo {
    font-size: 40px;
    font-weight: 900;
  }
  main,
  main > img {
    height: 1000px;
  }
  main .content-area {
    top: 48%;
  }
  main .content-area {
    top: 48%;
  }
  main .content-area h1 {
    font-size: 3.2rem;
    text-align: left;
    width: 700px;
  }
  main .content-area p {
    font-size: 22px;
    text-align: left;
    width: 648px;
  }
  main .content-area .button-wrapper {
    justify-content: flex-start;
  }
  .about-us > div {
    grid-template-columns: 1fr 1fr;
  }
  .about-us > div .left-side {
    order: 1;
  }
  .about-us > div .right-side {
    order: 2;
  }

  .about-us .left-side > h2 {
    margin-bottom: 2rem;
  }
  .about-us .left-side p {
    font-size: 20px;
  }
  .tours-section > h2 {
    color: #000;
    font-size: 40px;
  }
  .tours-section .grid-area {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .upcoming-events .grid-area {
    grid-template-columns: 1fr 1fr;
  }
  .tours-section .grid-area {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1350px) {
  .common-width {
    width: 1300px;
  }
  header {
    width: 1300px !important;
  }
}
